body {
    font-family: Arial, sans-serif;
    justify-content: center;
}
header, .hero, .services, .logos, .countries, .hero5 {
    margin-left: 15%;
    margin-right: 15%;
}

header {
    display: flex;
    justify-content: space-between;
}

header img {
    width: 50px;
    height: auto;
}
.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo p {
    margin-left: 10px;
    font-weight: bold;
    color:rgba(4, 170, 182, 0.945);
    transition: transform 0.3s ease;
}
.nav-logo p:hover {
    transform: scale(1.1);
    text-transform: uppercase;
}

.nav-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;

}
.nav-links ul li a {
    text-decoration: none;
    color: black;
}
.hero1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    color: rgba(4, 170, 182, 0.945);
}
.hero2 {
    display: flex;
    gap: 20px;    
}
.services {
    display: flex;
    margin-top: 50px;
    gap: 25px;
    justify-content:center;
    height: 35vh;
    margin-left: 10%;
    margin-right: 10%;
}
.patients {
    background-color: rgba(4, 170, 182, 0.945);
    padding: 20px;
    border-radius: 8px;
    color: white;
}
.doctors {
    background-color: rgba(54, 147, 253, 0.945);
    padding: 20px;
    border-radius: 8px;
    color: white;
}
.clinics {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    color: white;
}
.logos {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 50px;
    height: 15vh;
}
.logos p {
    color: rgba(4, 170, 182, 0.945);
}
.logos1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.logos img {
    width: auto;
    height: 15px;    
}
.hero3 {
    background-color: rgba(147, 238, 218, 0.945);
    height: 50vh;
}.hero3-content {
    display: flex;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}
.hero3a img {
    width: 300px;
    height: auto;
}

.countries-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.details {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}
.content {
    margin: 10px;
}
.content img {
    border-radius: 10px;

}
.button {
    background-color: rgba(3, 85, 238, 0.671);
    color: white;
    border-radius: 10px;
    font-weight: 700;
    border-color: chartreuse;
    border-width: 5px;
    padding: 10px;
}
.hero5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
}
.hero5-content p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size:x-large;    
}
footer {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
    justify-content: center;
    align-items: center;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}
footer a {
    text-decoration: none;
}